<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Grabbing The Weather</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS  -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/basic.css">
</head>
<body>
<h1>Current Weather</h1>
<h2>Where are you?</h2>
<div class="weather row">
    <form class="col s12">
        <div class="input-field col s6">
            <input id="city" type="text" class="validate">
            <label for="city">City</label>
        </div>
        <div class="input-field col s6">
            <input id="country" type="text" class="validate">
            <label for="country">Country</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" style="float: right">Get Weather
            <i class="material-icons right">send</i>
        </button>
    </form>
    <p class="weather-res"></p>
</div>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Grabbing The Weather (Technical Problem Solution)</h5>
                <p class="grey-text text-lighten-4">A program written with Node.js, Express.js, and JQuery that prompts
                    for a city name and returns the current temperature for the city using OpenWeatherMap API</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Author Contact</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="omtaylor@iastate.edu">Email</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/omtaylor">LinkedIn</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://www.github.com/Acesonnall">GitHub (Ask about
                        private repositories!)</a></li>
                    <li><p class="grey-text text-lighten-3">Mobile: (954) 547-5960</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017
        </div>
    </div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/curr_weather.js"></script>
</body>
</html>